
@import "compass/css3"
@import "compass/utilities"

body
	background-color: #edf1f2
	font-family: "Roboto"
	padding-bottom: 70px

h1
	font-size: 24px
	font-weight: 100
	color: #1c2b36
	margin-top: 0


// LOGIN
body.login
	background-color: #e7e7e6

#login-box
	width: 360px
	height: 360px
	background: white
	@include border-radius(4px)
	@include box-shadow(rgba(black, 0.15) 0 0 4px)
	position: absolute
	top: 50%
	left: 50%
	margin-top: -180px
	margin-left: -180px
	box-sizing: border-box
	padding: 30px
	text-align: center

	.form-control
		border: none
		@include box-shadow(none)
		@include border-radius(0)
		border-bottom: 1px solid #e8e8e8
		color: black
		margin-bottom: 30px
		&:focus
			border-bottom: 3px solid #a0c908
			color: #a0c908

	.btn-default
		border: none
		background-color: #a0c908
		color: white
		text-transform: uppercase
		&:hover
			background-color: darken(#a0c908, 10%)

	.logo-sgs-login
		margin: 30px 0

.logo-bb
	position: absolute
	bottom: 20px
	right: 20px

// END LOGIN


// SISTEMA
.navbar
	border: none
	background-color: #1c2b36
	font-family: "Montserrat"
	.nav.navbar-nav li
		&.open
			a
				background-color: #4dbd74
				color: white
				&:hover
					color: white
		a
			color: white
			text-transform: uppercase
			&:hover
				color: #4dbd74
		ul.dropdown-menu
			font-family: "Roboto"
			a
				color: #000
				text-transform: none
				background: white
				&:hover
					color: #4dbd74

	.nav.navbar-nav.navbar-right li a
		color: #f75353
		&:hover
			color: lighten(#f75353, 10%)

	@include border-radius(0)
	.navbar-brand
		background-color: #0f1922

.table-bg
	background: white
	@include border-radius(4px)
	.table-controls
		padding: 10px
		border-bottom: 1px solid #edf1f2

.fa-circle
	color: #4dbd74
.fa-circle-o
	color: #e24a4a

#footer
	position: fixed
	bottom: 0
	width: 100%
	box-sizing: border-box
	padding: 10px 15px
	background-color: #cbd6d9
	font-family: "Montserrat"
	font-size: 12px
	color: #1c2b36
	text-transform: uppercase

	.logo-bb-sistema
		position: absolute
		right: 20px
		top: 5px

//END SISTEMA
