@import "compass/css3"
@import "compass/utilities"

body
	background-color: #edf1f2
	font-family: "Roboto"
	padding-bottom: 70px

h1
	font-size: 24px
	font-weight: 100
	color: #1c2b36
	margin-top: 0


// LOGIN
body.login
	background-color: #e7e7e6

#login-box
	width: 360px
	height: 360px
	background: white
	@include border-radius(4px)
	@include box-shadow(rgba(black, 0.15) 0 0 4px)
	position: absolute
	top: 50%
	left: 50%
	margin-top: -180px
	margin-left: -180px
	box-sizing: border-box
	padding: 30px
	text-align: center

	.form-control
		border: none
		@include box-shadow(none)
		@include border-radius(0)
		border-bottom: 1px solid #e8e8e8
		color: black
		margin-bottom: 30px
		&:focus
			border-bottom: 3px solid #a0c908
			color: #a0c908

	.btn-default
		border: none
		background-color: #a0c908
		color: white
		text-transform: uppercase
		&:hover
			background-color: darken(#a0c908, 10%)

	.logo-sgs-login
		margin: 30px 0

.logo-bb
	position: absolute
	bottom: 20px
	right: 20px

// END LOGIN


// SISTEMA
.navbar
	border: none
	background-color: #1c2b36
	font-family: "Montserrat"
	.nav.navbar-nav li
		&.open
			a
				background-color: #4dbd74
				color: white
				&:hover
					color: white
		a
			color: white
			text-transform: uppercase
			&:hover
				color: #4dbd74
		ul.dropdown-menu
			font-family: "Roboto"
			a
				color: #000
				text-transform: none
				background: white
				&:hover
					color: #4dbd74

	.nav.navbar-nav.navbar-right li a
		color: #f75353
		&:hover
			color: lighten(#f75353, 10%)

	@include border-radius(0)
	.navbar-brand
		background-color: #0f1922

// ZK MENU
.z-menubar.z-menubar-horizontal
	border: none
	background-color: #1c2b36
	font-family: "Montserrat"
	.z-menuseparator
		display: list-item
		height: 1px
		margin: 5px 0
		overflow: hidden
		background-color: #e5e5e5
	> ul
		box-sizing: border-box
		list-style: none
		margin: 0
		padding: 0
		float: left
		margin-left: 10px
	> ul > li
		float: left
		display: block
		box-sizing: border-box
		position: relative
		.z-menu-text::after
			content: " \2192"
			color: #999
		a
			box-sizing: border-box
			padding-top: 15px
			padding-bottom: 15px
			position: relative
			padding: 15px 15px
			line-height: 20px
			display: block
			color: white
			text-transform: uppercase
			&:hover
				color: #4dbd74
				text-decoration: none
		.z-menupopup
			background-color: white
			position: absolute
			font-family: "Roboto"
			.z-focus-a
				display: none
				position: relative
			> ul
				list-style: none
				min-width: 160px
				padding: 0
				box-sizing: border-box
				padding: 5px 0
				border: 1px solid #ccc
				position: relative
				li
					padding: 0
				a
					line-height: 26px
					text-transform: none
					color: black
					margin: 0
					padding: 5px 20px
					&:hover
						color: #4dbd74

	.nav.navbar-nav.navbar-right li a
		color: #f75353
		&:hover
			color: lighten(#f75353, 10%)
// END ZK MENU


.table-bg
	background: white
	@include border-radius(4px)
	.table-controls
		padding: 10px
		border-bottom: 1px solid #edf1f2

.fa-circle
	color: #4dbd74
.fa-circle-o
	color: #e24a4a

#footer
	position: fixed
	bottom: 0
	width: 100%
	box-sizing: border-box
	padding: 10px 15px
	background-color: #cbd6d9
	font-family: "Montserrat"
	font-size: 12px
	color: #1c2b36
	text-transform: uppercase

	.logo-bb-sistema
		position: absolute
		right: 20px
		top: 5px

.red
	color: #e24a4a

.greyborder
	border: 1px solid #ddd
	padding: 10px
	@include border-radius(4px)
	h5 span
		font-weight: normal
	table
		margin-bottom: 10px
	.pagination
		margin: 0

.table
	th, th label
		color: #5a6a7f
		font-weight: 400 !important

.modal-body
	.btn-group
		.fa
			color: #4dbd74

.divider
	border-bottom: 1px solid #ddd
	margin-top: 10px
	margin-bottom: 10px

@media (min-width: 992px)
	.modal-xg
		width: 97%


//END SISTEMA
