---
title: Autenticação
---

<div id="login-box">
	<%= image_tag 'logo-sgs-login.png', :width => '100', :class => 'logo-sgs-login' %>

	<form role="form" action="/sistema">
		<div class="form-group">
			<label for="exampleInputEmail1" class="sr-only">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Usuário">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1" class="sr-only">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
		</div>
		<button type="submit" class="btn btn-default btn-lg btn-block">Entrar</button>
	</form>
</div>

<%= image_tag 'bb-logo.png', :width => '192', :class => 'logo-bb' %>
