---
title: Sistema de Gestão de Serviços
---

<!-- INÍCIO DO TRECHO MODIFICADOR -->
<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="sr-only">Brand</span>
        <%= image_tag 'sgs-logo.png', :width => '50', :class => 'logo-sgs' %>
      </a>
    </div>

    <!-- INÍCIO HEADER DO ZK -->
    <div class="z-menubar z-menubar-horizontal">
      <ul>
        <li class="z-menu" id="eNGM3">
          <a class="z-menu-content"><img align="absmiddle" class="z-menu-image"
            src="data:image/png;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            style="display: none" id="eNGM3-img">
            <span class="z-menu-text">File</span>
            <div class="z-menu-separator"></div>
            <i class="z-menu-icon z-icon-caret-down"></i></a>
            <div class="z-menupopup" style="position: absolute; top: 32px; left: 8px; z-index: 1800; visibility: visible;">
              <a class="z-focus-a" href="javascript:;" onclick="return false;"tabindex="-1" id="eNGM4-a"></a>
              <div class="z-menupopup-separator"></div>
              <ul id="eNGM4-cave" class="z-menupopup-content">
                <li class="z-menuitem" id="eNGM5"><a class="z-menuitem-content" id="eNGM5-a" href="javascript:;"><img
                  align="absmiddle" class="z-menuitem-image"
                  src="data:image/png;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                  <span class="z-menuitem-text">New</span></a></li>
                <li class="z-menuseparator" id="eNGM6">&nbsp;</li>
                <li class="z-menuitem" id="eNGM7">
                  <a class="z-menuitem-content" id="eNGM7-a" href="javascript:;">
                    <img align="absmiddle" class="z-menuitem-image" src="data:image/png;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                    <span class="z-menuitem-text">Open</span>
                  </a>
                </li>
                <li class="z-menuseparator" id="eNGM6">&nbsp;</li>
                <li class="z-menu" id="eNGM8">
                  <a class="z-menu-content"id="eNGM8-a" href="javascript:;"><img align="absmiddle" class="z-menu-image" src="data:image/png;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" id="eNGM8-img">
                  <span class="z-menu-text">Outro File</span>
                  <div class="z-menu-separator"></div>
                  <i class="z-menu-icon z-icon-caret-right"></i></a>
                  <div class="z-menupopup" style="position: absolute; top: 86px; left: 118px; z-index: 1801; visibility: visible;" id="eNGM9">
                    <a class="z-focus-a" href="javascript:;" onclick="return false;" tabindex="-1" id="eNGM9-a"></a>
                    <div class="z-menupopup-separator"></div>
                    <ul id="eNGM9-cave" class="z-menupopup-content">
                      <li class="z-menuitem" id="eNGMa">
                        <a class="z-menuitem-content" id="eNGMa-a" href="javascript:;">
                          <img align="absmiddle" class="z-menuitem-image" src="data:image/png;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                          <span class="z-menuitem-text">New 222</span>
                        </a>
                      </li>
                      <li class="z-menuseparator" id="eNGMb">&nbsp;</li>
                      <li class="z-menuitem" id="eNGMc">
                        <a class="z-menuitem-content" id="eNGMc-a" href="javascript:;">
                          <img lign="absmiddle" class="z-menuitem-image" src="data:image/png;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                          <span class="z-menuitem-text">Open 222</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
            </ul>
          </div></li>
        <li class="z-menuitem" id="eNGMd"><a class="z-menuitem-content"
          id="eNGMd-a" href="javascript:;"><img align="absmiddle"
            class="z-menuitem-image"
            src="data:image/png;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            style="display: none"> <span class="z-menuitem-text">About</span></a></li>
      </ul>
    </div>
    <!-- FIM DO HEADER DO ZK -->

    <!-- FECHAMENTO DO TRECHO MODIFICADOR -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/"><i class="fa fa-power-off"></i> Sair</a></li>
    </ul>
  </div>
</div>
<!-- FIM DO TRECHO MODIFICADOR -->
